In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as style
from matplotlib import pyplot as pltv1
import requests

SyntaxError: invalid syntax (<ipython-input-58-03b3dc90b001>, line 7)

In [30]:
Shares = ["AAPL","AAL"]

In [31]:
# Connect to API 
#for x in shares
code = "AAPL"
web_address = "https://financialmodelingprep.com/api/v3/quote/{}?apikey=93bd7731181284bd46eafdeee7de4313".format(code)
df = pd.DataFrame()
#Shares = ["AAPL","AAL"]
for code in Shares:
    stock = "https://financialmodelingprep.com/api/v3/quote/{}?apikey=93bd7731181284bd46eafdeee7de4313".format(code)
    data = pd.read_json(stock)
    df = df.append(data, ignore_index = True)
print(df)

  symbol                          name   price  changesPercentage  change  \
0   AAPL                    Apple Inc.  136.76              -0.31  -0.425
1    AAL  American Airlines Group Inc.   17.19              -1.21  -0.210

   dayLow  dayHigh  yearHigh  yearLow      marketCap  ...    volume  \
0  135.86   137.41    145.09  53.1525  2295940513792  ...  72317009
1   17.07    17.67     30.78   8.2500    10683241472  ...  30296296

   avgVolume  exchange    open previousClose     eps         pe  \
0  106825349    NASDAQ  137.35       137.185   3.687  37.092484
1   81988301    NASDAQ   17.60        17.400 -18.362        NaN

           earningsAnnouncement  sharesOutstanding           timestamp
0  2021-01-27T16:30:00.000+0000        16788099691 2021-02-07 14:31:39
1  2021-01-28T07:00:01.000+0000          621480016 2021-02-07 14:31:39

[2 rows x 22 columns]

In [33]:
df_formated = df.drop(['dayLow','dayHigh'], axis =1 )
df_filtered =  df_formated[(df_formated["symbol"] == "AAPL")]
df_filtered

,symbol,name,price,changesPercentage,change,yearHigh,yearLow,marketCap,priceAvg50,priceAvg200,volume,avgVolume,exchange,open,previousClose,eps,pe,earningsAnnouncement,sharesOutstanding,timestamp
0,AAPL,Apple Inc.,136.76,-0.31,-0.425,145.09,53.1525,2295940513792,133.31032,119.94297,72317009,106825349,NASDAQ,137.35,137.185,3.687,37.092484,2021-01-27T16:30:00.000+0000,16788099691,2021-02-07 14:31:39

In [46]:
start_date = '2020-01-01'

In [53]:
data_dividendsQ1 = pd.read_json(path_or_buf="https://financialmodelingprep.com/api/v3/stock_dividend_calendar?from=2020-01-01&to=2020-03-31&apikey=93bd7731181284bd46eafdeee7de4313", orient="records")
data_dividendsQ2 = pd.read_json(path_or_buf="https://financialmodelingprep.com/api/v3/stock_dividend_calendar?from=2020-04-01&to=2020-06-31&apikey=93bd7731181284bd46eafdeee7de4313", orient="records")
data_dividendsQ3 = pd.read_json(path_or_buf="https://financialmodelingprep.com/api/v3/stock_dividend_calendar?from=2020-07-01&to=2020-09-31&apikey=93bd7731181284bd46eafdeee7de4313", orient="records")
data_dividendsQ4 = pd.read_json(path_or_buf="https://financialmodelingprep.com/api/v3/stock_dividend_calendar?from=2020-10-01&to=2020-12-31&apikey=93bd7731181284bd46eafdeee7de4313", orient="records")

data_dividendsQ1 = data_dividendsQ1.append(data_dividendsQ2)
data_dividendsQ1 = data_dividendsQ1.append(data_dividendsQ3)
data_dividendsQ1 = data_dividendsQ1.append(data_dividendsQ4)
data_dividendsQ1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50994 entries, 0 to 14129
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             50994 non-null  datetime64[ns]
 1   label            50994 non-null  object
 2   adjDividend      50994 non-null  float64
 3   symbol           50994 non-null  object
 4   dividend         19373 non-null  float64
 5   recordDate       31044 non-null  object
 6   paymentDate      31042 non-null  object
 7   declarationDate  29192 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 3.5+ MB

In [54]:
data_dividendsQ1["month"] = data_dividendsQ1["date"].dt.month
data_dividendsQ1 = data_dividendsQ1[data_dividendsQ1['dividend'].notna()]
data_dividendsQ1
#df = df[df['EPS'].notna()]

,date,label,adjDividend,symbol,dividend,recordDate,paymentDate,declarationDate,month
20,2020-03-31,"March 31, 20",0.5200,STT,0.520000,2020-04-01,2020-04-15,2020-02-20,3
22,2020-03-31,"March 31, 20",0.2300,0QYF.L,0.230000,2020-04-01,2020-04-22,2020-01-23,3
27,2020-03-31,"March 31, 20",0.3400,TTEC,0.340000,2020-04-01,2020-04-16,2020-03-04,3
41,2020-03-31,"March 31, 20",0.1125,APE.AX,0.160714,2020-04-01,2020-04-20,2020-02-27,3
59,2020-03-31,"March 31, 20",0.1750,ANDE,0.175000,2020-04-01,2020-04-22,2020-02-24,3
...,...,...,...,...,...,...,...,...,...
14099,2020-09-30,"September 30, 20",0.0800,ESE,0.080000,2020-10-01,2020-10-15,2020-08-10,9
14103,2020-09-30,"September 30, 20",0.1400,TWO,0.140000,2020-10-01,2020-10-29,2020-09-21,9
14106,2020-09-30,"September 30, 20",0.5200,STT,0.520000,2020-10-01,2020-10-15,2020-09-17,9
14119,2020-09-30,"September 30, 20",0.1000,PKE,0.100000,2020-10-01,2020-11-05,2020-09-14,9
14127,2020-09-30,"September 30, 20",0.1700,CW,0.170000,2020-10-01,2020-10-15,2020-09-16,9

In [55]:
groupby = data_dividendsQ1.groupby('month')

In [56]:
for month, group in groupby:
    #print()
    print(group)

            date           label  adjDividend  symbol  dividend  recordDate  \
9052  2020-01-31  January 31, 20        0.160  0QLL.L    0.1600  2020-02-03
9053  2020-01-31  January 31, 20        0.380     KRP    0.3800  2020-02-03
9064  2020-01-31  January 31, 20        0.025    ASRV    0.0250  2020-02-03
9065  2020-01-31  January 31, 20        1.060  0UKH.L    1.0600  2020-02-03
9068  2020-01-31  January 31, 20        0.510       C    0.5100  2020-02-03
...          ...             ...          ...     ...       ...         ...
11307 2020-01-02  January 02, 20        2.830  BWNG.L    0.0283  2020-01-03
11308 2020-01-02  January 02, 20        0.138     AEO    0.1375  2020-01-03
11309 2020-01-02  January 02, 20        0.150     KDP    0.1500  2020-01-03
11310 2020-01-02  January 02, 20        0.060  0I0H.L    0.0600  2020-01-03
11311 2020-01-02  January 02, 20        0.100     FEI    0.1000  2020-01-03

      paymentDate declarationDate  month
9052   2020-03-02      2020-01-15      1
9053   2020-02-10      2020-01-24      1
9064   2020-02-18      2020-01-21      1
9065   2020-02-26      2019-12-03      1
9068   2020-02-28      2020-01-15      1
...           ...             ...    ...
11307  2020-02-05      2019-10-10      1
11308  2020-01-17      2019-12-17      1
11309  2020-01-17      2019-11-14      1
11310  2020-01-15      2019-12-02      1
11311  2020-01-15      2019-10-21      1

[1221 rows x 9 columns]
           date            label  adjDividend   symbol  dividend  recordDate  \
5639 2020-02-28  February 28, 20        0.050   APX.AX  0.060714  2020-03-02
5640 2020-02-28  February 28, 20        0.115   FID.AX  0.158621  2020-03-02
5643 2020-02-28  February 28, 20        0.150   0U9H.L  0.150000  2020-03-02
5645 2020-02-28  February 28, 20        1.250   NDA.DE  1.250000  2020-03-02
5648 2020-02-28  February 28, 20        0.070   0UC0.L  0.070000  2020-03-02
...         ...              ...          ...      ...       ...         ...
9036 2020-02-03  February 03, 20        0.990  1928.HK  0.990000  2020-02-04
9041 2020-02-03  February 03, 20        0.440      MET  0.440000  2020-02-04
9044 2020-02-03  February 03, 20        0.095      WSR  0.095000  2020-02-04
9045 2020-02-03  February 03, 20        0.023      FIV  0.022800  2020-02-04
9048 2020-02-03  February 03, 20        0.688     NBLX  0.687800  2020-02-04

     paymentDate declarationDate  month
5639  2020-03-20      2020-02-25      2
5640  2020-03-16      2020-02-17      2
5643  2020-03-12      2020-02-06      2
5645  2020-03-03      2019-12-11      2
5648  2020-03-16      2020-02-18      2
...          ...             ...    ...
9036  2020-02-21      2020-01-17      2
9041  2020-03-13      2020-01-07      2
9044  2020-02-13      2019-12-18      2
9045  2020-02-18      2020-01-21      2
9048  2020-02-14      2020-01-23      2

[2001 rows x 9 columns]
           date         label  adjDividend  symbol  dividend  recordDate  \
20   2020-03-31  March 31, 20       0.5200     STT  0.520000  2020-04-01
22   2020-03-31  March 31, 20       0.2300  0QYF.L  0.230000  2020-04-01
27   2020-03-31  March 31, 20       0.3400    TTEC  0.340000  2020-04-01
41   2020-03-31  March 31, 20       0.1125  APE.AX  0.160714  2020-04-01
59   2020-03-31  March 31, 20       0.1750    ANDE  0.175000  2020-04-01
...         ...           ...          ...     ...       ...         ...
5626 2020-03-02  March 02, 20       0.1300  PTM.AX  0.185714  2020-03-03
5627 2020-03-02  March 02, 20       0.3600  CCP.AX  0.514286  2020-03-03
5628 2020-03-02  March 02, 20       0.5700    K.SW  0.570000  2020-03-03
5631 2020-03-02  March 02, 20       0.3750    FANG  0.375000  2020-03-03
5637 2020-03-02  March 02, 20       0.1500    PEBK  0.150000  2020-03-03

     paymentDate declarationDate  month
20    2020-04-15      2020-02-20      3
22    2020-04-22      2020-01-23      3
27    2020-04-16      2020-03-04      3
41    2020-04-20      2020-02-27      3
59    2020-04-22      2020-02-24      3
...          ...             ...    ...
5626  2020-03-18      2020-02-21      3
5627  2020-03-13      2020-01-28      3
5628  2020-03-16      2020-02-21      3
5631  2020-03-10      2020-02-18      3
5637  2020-03-16      2020-02-21      3

[2518 rows x 9 columns]
            date         label  adjDividend  symbol  dividend  recordDate  \
10361 2020-04-30  April 30, 20        0.390  0S1P.L    0.3900  2020-05-01
10363 2020-04-30  April 30, 20        0.700  BEI.SW    0.7000  2020-05-04
10364 2020-04-30  April 30, 20        3.700  0O2R.L    3.7000  2020-05-04
10373 2020-04-30  April 30, 20        0.311     WES    0.3110  2020-05-01
10397 2020-04-30  April 30, 20        0.100    TRGP    0.1000  2020-05-01
...          ...           ...          ...     ...       ...         ...
13476 2020-04-01  April 01, 20        0.020  0H00.L    0.0200  2020-04-02
13477 2020-04-01  April 01, 20        0.075     TSQ    0.0750  2020-04-02
13479 2020-04-01  April 01, 20        0.750  0O87.L    0.7500  2020-04-02
13482 2020-04-01  April 01, 20        0.230     SSD    0.2300  2020-04-02
13483 2020-04-01  April 01, 20        0.025   EVGBC    0.0252  2020-04-02

      paymentDate declarationDate  month
10361  2020-05-15      2020-04-21      4
10363  2020-05-05      2020-03-03      4
10364  2020-05-05      2020-02-04      4
10373  2020-05-14      2020-04-20      4
10397  2020-05-15      2020-04-16      4
...           ...             ...    ...
13476  2020-04-03      2020-01-30      4
13477  2020-05-15      2020-03-16      4
13479  2020-04-07      2020-01-24      4
13482  2020-04-23      2020-02-03      4
13483  2020-04-06      2020-01-09      4

[1429 rows x 9 columns]
            date       label  adjDividend   symbol  dividend  recordDate  \
6320  2020-05-29  May 29, 20       0.6000     STRA    0.6000  2020-06-01
6329  2020-05-29  May 29, 20       0.4600  EOAN.DE    0.4600  2020-06-01
6331  2020-05-29  May 29, 20       0.2700     NBTB    0.2700  2020-06-01
6332  2020-05-29  May 29, 20       0.3250      HIG    0.3250  2020-06-01
6333  2020-05-29  May 29, 20       0.3250   HFF.DE    0.3250  2020-06-01
...          ...         ...          ...      ...       ...         ...
10327 2020-05-01  May 01, 20       0.1330      FPF    0.1325  2020-05-04
10329 2020-05-01  May 01, 20       0.0500      FEI    0.0500  2020-05-04
10331 2020-05-01  May 01, 20       0.2000     LMRK    0.2000  2020-05-04
10333 2020-05-01  May 01, 20       0.2625   0JR2.L    0.2625  2020-05-04
10352 2020-05-01  May 01, 20       0.2200   SFE.DE    0.2200  2020-05-04

      paymentDate declarationDate  month
6320   2020-06-08      2020-04-29      5
6329   2020-06-02      2020-03-17      5
6331   2020-06-15      2020-03-24      5
6332   2020-07-02      2020-05-20      5
6333   2020-07-02      2020-05-20      5
...           ...             ...    ...
10327  2020-05-15      2020-04-20      5
10329  2020-05-15      2020-04-20      5
10331  2020-05-15      2020-04-21      5
10333  2020-05-15      2020-04-22      5
10352  2020-05-14      2020-04-24      5

[2339 rows x 9 columns]
           date        label  adjDividend       symbol  dividend  recordDate  \
385  2020-06-30  June 30, 20       0.2000         PLPC    0.2000  2020-07-01
411  2020-06-30  June 30, 20       0.1800       242.HK    0.1800  2020-07-02
413  2020-06-30  June 30, 20       3.0000  HEXAWARE.NS    3.0000  2020-07-01
414  2020-06-30  June 30, 20       0.7000       GBT.PA    0.7000  2020-07-01
415  2020-06-30  June 30, 20       1.5000      IDIP.PA    1.5000  2020-07-01
...         ...          ...          ...          ...       ...         ...
6277 2020-06-01  June 01, 20       0.0900      1412.HK    0.0900  2020-06-02
6281 2020-06-01  June 01, 20       0.0170        EVLMC    0.0166  2020-06-02
6282 2020-06-01  June 01, 20       0.3020         VWOB    0.3020  2020-06-02
6284 2020-06-01  June 01, 20       0.2187      1268.HK    0.2200  2020-06-02
6286 2020-06-01  June 01, 20       0.0130      1290.HK    0.0130  2020-06-02

     paymentDate declarationDate  month
385   2020-07-20      2020-06-20      6
411   2020-07-16      2020-03-27      6
413   2020-07-07      2020-06-18      6
414   2020-07-02      2020-03-24      6
415   2020-07-02      2020-04-21      6
...          ...             ...    ...
6277  2020-06-22      2020-03-24      6
6281  2020-06-04      2020-01-09      6
6282  2020-06-04      2020-05-29      6
6284  2020-06-24      2020-03-27      6
6286  2020-06-29      2020-03-26      6

[2819 rows x 9 columns]
            date        label  adjDividend symbol  dividend  recordDate  \
0     2020-07-01  July 01, 20        0.450    SYY     0.450  2020-07-02
1     2020-07-01  July 01, 20        1.100     GD     1.100  2020-07-03
2     2020-07-01  July 01, 20        0.230    DOC     0.230  2020-07-02
3     2020-07-01  July 01, 20        0.250  VLGEA     0.250  2020-07-02
4     2020-07-01  July 01, 20        0.315    HTA     0.315  2020-07-02
...          ...          ...          ...    ...       ...         ...
12060 2020-07-01  July 01, 20        0.229    IDE     0.229  2020-07-02
12061 2020-07-01  July 01, 20        0.102   SLQD     0.102  2020-07-02
12062 2020-07-01  July 01, 20        0.120   HBNC     0.120  2020-07-03
12063 2020-07-01  July 01, 20        0.110    IEF     0.110  2020-07-02
12064 2020-07-01  July 01, 20        0.197    IGA     0.197  2020-07-02

      paymentDate declarationDate  month
0      2020-07-24      2020-05-22      7
1      2020-08-07      2020-06-03      7
2      2020-07-17      2020-06-19      7
3      2020-07-23      2020-06-12      7
4      2020-07-09      2020-05-05      7
...           ...             ...    ...
12060  2020-07-15      2020-06-15      7
12061  2020-07-08      2019-12-10      7
12062  2020-07-17      2020-06-12      7
12063  2020-07-08      2019-12-11      7
12064  2020-07-15      2020-06-15      7

[1883 rows x 9 columns]
           date          label  adjDividend         symbol  dividend  \
5445 2020-08-31  August 31, 20        0.060             FF    0.0600
5446 2020-08-31  August 31, 20        0.096       ALEAC.PA    0.0960
5448 2020-08-31  August 31, 20        0.440           ESLT    0.4400
5449 2020-08-31  August 31, 20        0.012         677.HK    0.0120
5450 2020-08-31  August 31, 20        2.400  VINYLINDIA.NS    2.4000
...         ...            ...          ...            ...       ...
8968 2020-08-03  August 03, 20        0.038            FPL    0.0375
8970 2020-08-03  August 03, 20        0.460            MET    0.4600
8972 2020-08-03  August 03, 20        0.051           VGSH    0.0510
8979 2020-08-03  August 03, 20        1.500    SAREGAMA.NS    1.5000
8986 2020-08-03  August 03, 20        0.328            EMB    0.3280

      recordDate paymentDate declarationDate  month
5445  2020-09-01  2020-09-15      2019-12-03      8
5446  2020-09-01  2020-09-02      2020-03-28      8
5448  2020-09-01  2020-09-14      2020-08-13      8
5449  2020-09-01  2020-09-14      2020-06-29      8
5450  2020-09-01  2020-09-16      2020-06-15      8
...          ...         ...             ...    ...
8968  2020-08-04  2020-08-17      2020-07-20      8
8970  2020-08-04  2020-09-14      2020-07-08      8
8972  2020-08-04  2020-08-06      2020-07-31      8
8979  2020-08-04  2020-09-10      2020-06-05      8
8986  2020-08-04  2020-08-07      2019-12-11      8

[2042 rows x 9 columns]
            date             label  adjDividend symbol  dividend  recordDate  \
434   2020-09-30  September 30, 20        0.170     CW     0.170  2020-10-01
435   2020-09-30  September 30, 20        0.140   MFNC     0.140  2020-10-01
439   2020-09-30  September 30, 20        0.510   WASH     0.510  2020-10-01
484   2020-09-30  September 30, 20        0.450    VTR     0.450  2020-10-01
496   2020-09-30  September 30, 20        0.234      O     0.234  2020-10-01
...          ...               ...          ...    ...       ...         ...
14099 2020-09-30  September 30, 20        0.080    ESE     0.080  2020-10-01
14103 2020-09-30  September 30, 20        0.140    TWO     0.140  2020-10-01
14106 2020-09-30  September 30, 20        0.520    STT     0.520  2020-10-01
14119 2020-09-30  September 30, 20        0.100    PKE     0.100  2020-10-01
14127 2020-09-30  September 30, 20        0.170     CW     0.170  2020-10-01

      paymentDate declarationDate  month
434    2020-10-15      2020-09-16      9
435    2020-10-12      2020-09-21      9
439    2020-10-09      2020-09-17      9
484    2020-10-13      2020-09-18      9
496    2020-10-15      2020-09-17      9
...           ...             ...    ...
14099  2020-10-15      2020-08-10      9
14103  2020-10-29      2020-09-21      9
14106  2020-10-15      2020-09-17      9
14119  2020-11-05      2020-09-14      9
14127  2020-10-15      2020-09-16      9

[1268 rows x 9 columns]
            date           label  adjDividend      symbol  dividend  \
18    2020-10-01  October 01, 20        0.120         IRT     0.120
19    2020-10-01  October 01, 20        0.197         IGA     0.197
30    2020-10-01  October 01, 20        0.190  J&KBANK.NS     0.190
34    2020-10-01  October 01, 20        0.077         IRR     0.077
36    2020-10-01  October 01, 20        0.110         FSD     0.110
...          ...             ...          ...         ...       ...
13721 2020-10-01  October 01, 20        0.450         BMY     0.450
13722 2020-10-01  October 01, 20        0.003        ITUB     0.003
13723 2020-10-01  October 01, 20        0.060         FMY     0.060
13725 2020-10-01  October 01, 20        0.130        HURC     0.130
13727 2020-10-01  October 01, 20        0.030         IID     0.030

       recordDate paymentDate declarationDate  month
18     2020-10-02  2020-10-23      2020-09-15     10
19     2020-10-02  2020-10-15      2020-09-15     10
30     2020-10-02  2020-10-30      2020-09-17     10
34     2020-10-02  2020-10-15      2020-09-15     10
36     2020-10-02  2020-10-15      2020-09-21     10
...           ...         ...             ...    ...
13721  2020-10-02  2020-11-02      2020-09-10     10
13722  2020-10-02  2020-11-13      2020-09-16     10
13723  2020-10-02  2020-10-15      2020-09-21     10
13725  2020-10-02  2020-10-16      2020-09-16     10
13727  2020-10-02  2020-10-15      2020-09-15     10

[89 rows x 9 columns]
            date            label  adjDividend symbol  dividend recordDate  \
7635  2020-11-30  November 30, 20        0.230    WTS    0.2300  2020-12-1
7662  2020-11-30  November 30, 20        0.318     HY    0.3175  2020-12-1
7663  2020-11-30  November 30, 20        0.100     AC    0.1000  2020-12-1
7664  2020-11-30  November 30, 20        0.140    ONB    0.1400  2020-12-1
7667  2020-11-30  November 30, 20        1.170    MAN    1.1700  2020-12-1
...          ...              ...          ...    ...       ...        ...
10654 2020-11-05  November 05, 20        0.130   HTBK    0.1300  2020-11-6
10655 2020-11-05  November 05, 20        0.905    DKL    0.9050  2020-11-6
10656 2020-11-05  November 05, 20        0.150   HMST    0.1500  2020-11-6
10657 2020-11-05  November 05, 20        0.300   IBTX    0.3000  2020-11-6
10658 2020-11-05  November 05, 20        0.270   JBHT    0.2700  2020-11-6

      paymentDate declarationDate  month
7635   2020-12-15       2020-11-2     11
7662   2020-12-15      2020-11-10     11
7663   2020-12-15      2020-11-10     11
7664   2020-12-15      2020-10-29     11
7667   2020-12-15       2020-11-6     11
...           ...             ...    ...
10654  2020-11-20      2020-10-22     11
10655  2020-11-12      2020-10-27     11
10656  2020-11-23      2020-10-26     11
10657  2020-11-19      2020-10-27     11
10658  2020-11-20      2020-10-22     11

[885 rows x 9 columns]
           date            label  adjDividend symbol  dividend recordDate  \
64   2020-12-31  December 31, 20        0.135    GLT   0.13500   2021-1-4
76   2020-12-31  December 31, 20        0.162   SAFE   0.16224   2021-1-4
77   2020-12-31  December 31, 20        0.200   SFBS   0.20000   2021-1-1
79   2020-12-31  December 31, 20        0.520    STT   0.52000   2021-1-4
80   2020-12-31  December 31, 20        0.410    THO   0.41000   2021-1-4
...         ...              ...          ...    ...       ...        ...
7612 2020-12-01  December 01, 20        0.260    NPO   0.26000  2020-12-2
7617 2020-12-01  December 01, 20        1.550     RE   1.55000  2020-12-2
7620 2020-12-01  December 01, 20        0.400   FAST   0.40000  2020-12-2
7621 2020-12-01  December 01, 20        1.250     GS   1.25000  2020-12-2
7623 2020-12-01  December 01, 20        0.050    GHL   0.05000  2020-12-2

     paymentDate declarationDate  month
64      2021-2-1      2020-12-18     12
76     2021-1-15      2020-12-18     12
77      2021-1-8      2020-12-22     12
79     2021-1-19      2020-12-17     12
80     2021-1-18      2020-12-18     12
...          ...             ...    ...
7612  2020-12-16      2020-10-28     12
7617  2020-12-23      2020-11-19     12
7620  2020-12-22      2020-11-20     12
7621  2020-12-30      2020-10-14     12
7623  2020-12-16       2020-11-2     12

[879 rows x 9 columns]

In [57]:
data_dividends['month'].unique()

array([8, 7, 6, 5], dtype=int64)

In [21]:
#https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/AAPL?apikey=93bd7731181284bd46eafdeee7de4313



data_dividends_hist = pd.read_json(path_or_buf="https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/AAPL?apikey=93bd7731181284bd46eafdeee7de4313", orient="records")
data_dividends_hist

   symbol                                         historical
0    AAPL  {'date': '2021-02-05', 'label': 'February 05, ...
1    AAPL  {'date': '2020-11-06', 'label': 'November 06, ...
2    AAPL  {'date': '2020-08-07', 'label': 'August 07, 20...
3    AAPL  {'date': '2020-05-08', 'label': 'May 08, 20', ...
4    AAPL  {'date': '2020-02-07', 'label': 'February 07, ...
..    ...                                                ...
81   AAPL  {'date': '1988-05-16', 'label': 'May 16, 88', ...
82   AAPL  {'date': '1988-02-12', 'label': 'February 12, ...
83   AAPL  {'date': '1987-11-17', 'label': 'November 17, ...
84   AAPL  {'date': '1987-08-10', 'label': 'August 10, 87...
85   AAPL  {'date': '1987-05-11', 'label': 'May 11, 87', ...

[86 rows x 2 columns]